.header {
    height: 100px;
    .breadcrumb {
        margin-bottom: 0;
    }
    .dropdown {
        cursor: pointer;
    }
    .dropdown-toggle {
        img {
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 50%;
        }
        svg {
            width: 40px;
            height: 40px;
        }
        color: $main;
    }
}

.side-menu-wrapper {
    padding: 15px;
    position: relative;
    .menu-toggle {
        position: absolute;
        right: -10px;
        top: 50px;
        background-color: $main;
        color: white;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.menu-logo {
    img {
        height: 90px;
        padding: 15px;
    }
}

.menu-toggle {
    position: absolute;
    z-index: 4;
    right: -25px;
    top: 25px;
    background-color: $main;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        color: white;
    }
}

.sidebar {
    border-radius: 15px;
    overflow: hidden;
    height: 100%;
    background-color: white;
}

.white-box {
    border-radius: 15px;
    padding: 25px;
    background-color: white;
    margin-bottom: 30px;
    .title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 30px;
        color: $orange;
    }
}

.statistic-item {
    padding: 0;
    overflow: hidden;
    .row > div {
        padding: 15px;
    }
    .svg-wrapper {
        background-color: $main;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
            color: white;
            font-size: 50px;
        }
    }
    .number {
        font-size: 30px;
        font-weight: bold;
        color: $main;
    }
    .label {
        font-size: 24px;
    }
}

.action-button {
    padding: 5px;
    cursor: pointer;
}

.datatable-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    .showing-label {
        color: $main;
    }
}

.small-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    &.img {
        object-fit: cover;
        object-position: center;
    }
    &.txt {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: bold;
    }
}

.upload-field {
    .inner {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    position: relative;
    background-color: $main;
    height: 200px;
    width: 200px;
    input {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
    }
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    svg {
        font-size: 50px;
        color: white;
    }
}

.map-view {
    max-height: 600px;
    display: block;
    margin: auto;
    path {
        stroke: white;
    }
}

.flex-1 {
    flex: 1;
}

.label-value {
    font-size: 20px;
    color: #000000b8;
}

.color-main {
    color: $main;
}

.notifications-dropdown {
    position: relative;
    .notification-number {
        position: absolute;
        top: -10px;
        right: 15px;
        background-color: $orange;
        color: white;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .dropdown-item {
        &.unread {
            font-weight: bold;
            color: $main;
        }
    }
}

.full-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
}
