.header {
    height: 100px;
    .breadcrumb {
        margin-bottom: 0;
    }
}

.side-menu {
    background-color: white;
    width: 400px;

    .menu-logo {
        height: 100px;
        padding: 15px;
    }

    .inner {
        padding: 0 20px;
    }

    .nav-link {
        color: $black-2;
        font-size: 18px;
        padding: 15px;
        border-radius: 15px;

        &.active {
            background: #6451ff;
            color: white;
        }
    }
}

#profile-button {
    img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
    }
}

.white-box {
    border-radius: 25px;
    padding: 25px;
    background-color: white;
    margin-bottom: 30px;
    .title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 30px;
    }
}

.statistic-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    svg {
        font-size: 50px;
        margin-bottom: 15px;
    }
    .number {
        font-size: 30px;
        font-weight: bold;
        color: $main;
        margin-bottom: 15px;
    }
    .label {
        font-size: 24px;
    }
}

.action-button {
    padding: 5px;
    cursor: pointer;
}

.pagination {
    li {
        // padding: 10px;
        // border: 1px solid $main;
    }
}