body {
    background-color: $light;
    color: $black;
    font-family: 'Tajawal', sans-serif;
    .search-input {
        height: 50px;
        border-radius: 25px;
        padding: 0 30px;
    }
}

ul.no-style {
    list-style: none;
    padding-left: 0;
}

.btn {
    span {
        margin-top: 5px;
        display: inline-block;
    }
}