body {
    background-color: $light;
    color: $black;
    font-family: "Tajawal", sans-serif;
    .search-input {
        height: 50px;
        border-radius: 25px;
        padding: 0 30px;
    }
}

ul.no-style {
    list-style: none;
    padding-left: 0;
}

.btn {
    padding-top: 10px;
    height: 40px;
}

.p-25 {
    padding: 25px;
}

.section-reports {
    overflow: hidden;
    &.loading {
        position: relative;
        &::after {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($color: #000000, $alpha: 0.3);
        }
    }
    .loader-wrapper {
        z-index: 1;
    }
}

.general-error-page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 15px;
    .error-message {
        font-size: 30px;
    }
    .status-code {
        font-size: 70px;
        font-weight: bold;
        text-align: center;
    }
}

.change-lang-button {
    color: blue;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
}

path#bh {
    transform: scale(13.5);
    transform-origin: 87% 38%;
}
